


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/file.css">
</head>
<body>
  <div class="main">
    <div class="register">
      <header>
        <h2>Update details</h2>
      </header>

  <form action="" method="POST" class="register">
        <input type="hidden" name="id" class="input" value= "<%= update[0].id %>">
        <label for="description">Choose description:</label><br>
      <input type="text" name="itemname" class="input" value= "<%= update[0].itemname %>" placeholder="Enter Itemname" required><br><br>
      <label for="expense">Choose expensemount:</label><br>
      <input type="text" name="price" class="input" value= "<%= update[0].price %>"placeholder="Enter Price" required><br><br>
      <input type="submit" value="submit" class="submit">
     
  </form> 
      </div>
      </div>


  
  
</body>
</html>

